#navbar .logo{
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li{
    float: none;
}

#navbar ul li {
    font-size: 15px;
    padding:5px;
}


/* showcase */
#showcase{
    height: 100%;
}
#showcase .showcase_content{
    color: #fff;
    text-align: center;
    padding-top:80px;
    padding-bottom:80px;
}
/* Home Info */

#home_info .info_img{
    display : none;
}

#home_info .info_content{
    float: none;
    width:100%;
}

/* feaqtures  */
#features .box{
    display:block;
    float: none;
    width:100%;
    margin: auto;
    height: auto;
}

#contact-info .box{
    display:block;
    float: none;
    width:100%;
    margin: auto;
    height: auto;
}

/* About Page */

#about-info  .info-right,
#about-info  .info-left{
    float:none;
    width: 100%;
}

#about-info  .info-right{
    margin-bottom: 30px;
}
.l-heading{
    text-align: center;
}
/* av=bout  */
